<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sign-up" method="POST">
        
        <span>Username</span><input name="username" type="string" required>
        <span>Email</span><input name="email" type="email" required>
        <span>Password</span><input name="password" type="password" required>
        <button type="submit">Create Account</button>

    </form>

    <a href="/sign-in">Sign in</a>
    <a href="/forget-password">reset-password</a>
</body>
</html>